# Normalización de finales de línea
* text=auto

# Manejo de archivos binarios
*.jpg binary
*.png binary
*.gif binary

# Archivos específicos con finales de línea LF
*.sh text eol=lf
*.py text eol=lf

# Archivos de Windows con finales de línea CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Ignorar cambios de permisos en los archivos
* -text
